hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
}

nav, footer {
  background-color: #393e46;
}

#destaque, #novidades, #card-novidades, .card-destaque, .card-avaliacao {
  background-color: #06121e;
}

header, #entrevistas, .card-entrevista {
  background-color: #020d18;
}

#card-avaliacao {
    border: none;
}

#card-novidades {
    border: none;
}

.btn-sm {
    border-radius: 50px;
}

.card-avaliacao {
    max-width: 540px;
    border: none;
    border-bottom: 20px;
}

.card-dest {
    margin-top: 40px;
    margin-bottom: 30px;
}

.card-destaque {
    margin-bottom: 20px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
}

.card-dest-avalicoes {
    margin-bottom: 30px;
}

.card-dest-entrevistas {
    margin-bottom: 30px;
}

.card-dest-collapse {
    margin-top: 30px;
    margin-bottom: 30px; 
}

.card-entrevista {
    margin-bottom: 20px;
    border: none;
    padding-right: 10px;
    padding-left: 10px; 
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.container-destaques {
    margin-top: 0px;
    padding-top: -20px;
}

.div-img-novidades{
    padding-right: 0px;
}

.div-user-avaliacao{
    padding-right: 0px;
}

.editorial {
    margin-top: 30px;
    margin-bottom: 20px;
}

.icon-twitter {
    margin-left: 10px;
    margin-right: 10px;
}

.img-user-avaliacao {
    width: 100%;
    height: auto;
}

.lancamentos {
    margin-top: -70px;
}

.lancamentos-cont {
    margin-top: 55px;
}

.navbar {
    padding: 0px;
}

.profile-pic img {
    border-radius: 50%
}

.redes-sociais {
    margin-top: 30px;
}

@media only screen and (max-width: 990px) {
    .sobre {
      margin-top: 30px;
    }

    .profile-pic {
      max-width: 150px;
      margin-bottom: 10px;
    }
  
  }

  @media only screen and (max-width: 1200px) {
    .wrapper .search_box {
      margin-bottom: 15px;
    }
  
  }


  @media only screen and (max-width: 768px) {
    .img-user-avaliacao {
      margin-left: 50%;
    }
  }

.wrapper .search_box{
  max-width: fit-content;
  background: #fff;
  border-radius: 5px;
  height: 50px;
  display: flex;
  padding: 5px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active{
  display: block;
}

.wrapper .search_box .dropdown ul li{
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #5078ef transparent transparent transparent;
}

.wrapper .search_box .search_field{
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}

.navbar-expand-xl {
  padding-left: 1rem;
  padding-right: 1rem;
}

